@font-face {
    font-family: SVN-Helvetica-Neue-Heavy;
    font-style: normal;
    font-weight: 400;
    src: url(SVN-Helvetica-Neue-Heavy.ttf);
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: url(Roboto-Medium.ttf);
}
