$color-primary: #caaa6c;
$color-white: #fff;
$color-red: #ff0f12;
$color-button-gray: rgba(0, 0, 0, 0.5);
$color-gray: #404040;
$color-button-background: #f6f6f6;

$animation-delay: 1s;

$border-dark-wide: 3px solid #000;
$border-button: 0.86px solid #c2c2c2;
